{% extends "layout/people/details.html" %}

{% block content2 %}

<h3>Assigned work</h3>
<table class='table table-bordered'>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Title</th>
        <th>Effort left (d)</th>
        <th>Est complete</th>
        <th>Key date</th>
    </tr>
    {% for w in person.work %}
    <tr>
        <td>{{ w.work_id }}</td>
        <td><a href='{{ w.project_url }}'>{{ w.project_name }}</a></td>
        <td>{{ w.title }}</td>
        <td>{{ w.effort_left_d }}</td>
        <td>{{ w.est_end_date }}</td>
        <td>{{ w.key_date }}</td>
    </tr>
    {% endfor %}
</table>

{% if done_work %}
<h4>Completed work</h4>

<ul>
    {% for w in done_work %}
    <li><button class='btn btn-mini mark-work-undone'
        work_id='{{ w.work_id }}'>Not done</button> {{ w.title }}</li>
    {% endfor %}
</ul>
{% endif %}

<script>
    $('#nav-table').addClass('active');
</script>
{% endblock %}

