{% extends "layout/people/details.html" %}

{% block content2 %}
<script type='text/javascript' src='../assets/js/dovetail_chart.js'></script>

<div class='row-fluid'>
    <div id='timeline-chart' class='viewer'></div>
</div>

<script>
    $('#nav-timeline').addClass('active');
    {% autoescape off %}
    var timelineData = {{ timeline_data }}
    var timelineAuxData = {{ timeline_aux_data }};
    {% endautoescape %}

    var chart = DovetailChart('timeline-chart', timelineData, timelineAuxData);
    chart.renderData();
</script>
{% endblock %}

