<!doctype html>

{% set project_name = project.get('name', '')  %}
{% set project_id = project.get('project_id', '')  %}

<title>Add work to {{ project_name }}</title>

<h1>Add work to: {{ project_name }}</h1>

<form action="/work?project={{ project_id }}" method='POST'>
    <p>Title: <input type="text" name="title"><br></p>
    <p>Assignee:
        <select name="assignee">
            {% for p in people %}
            <option value="{{ p['id'] }}">{{ p['name'] }}</option>
            {% endfor %}
        </select>
    </p>
    <p>Estimate (d): <input type="text" name="estimate"><br></p>
    <input type="submit">
</form>
