{% extends "layout/projects/collection.html" %}

{% block content2 %}
<table class='table'>
    <tr>
        <th>Rank</th>
        <th>Project</th>
        <th>Status</th>
        <th>Estimated</th>
        <th>Target</th>
        <th class='number'>Effort left</th>
    </tr>
    {% for project in project_data %}
    <tr>
        <td>#{{ project.rank }}</td>
        <td><a href={{ project.detail_url }}>{{ project.name}}</a></td>
        <td><span class="label {{ project.status.class }}">{{ project.status.label}}</span></td>
        <td><span class='{{ project.status.date_class }}'>{{ project.est_end_date }}</span></td>
        <td><span class='{{ project.status.date_class }}'>{{ project.target_date }}</span></td>
        <td class='number'>{{ project.effort_left_d }}</td>
    </tr>
    {% endfor %}
</table>

{% if done_projects %}
<h3>Recently completed</h3>
<ul>
    {% for p in done_projects %}
    <li><button class='btn btn-mini mark-project-undone'
        project_id='{{ p.project_id }}'>Not done</button> {{ p.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<script>
    $('#nav-table').addClass('active');
</script>

{% endblock %}
