<!doctype html>
<title>Projects</title>

<h1>Current Projects</h1>

<p>
<a href='/projects/edit'>Edit</a>
<a href='/projects/new'>Add project</a>
</p>

<ul>
{% for project in project_data %}
  <li><a href={{ project.detail_url }}>{{ project.name }}</a></li>
    <ul>
      <li>Estimated: {{ project.est_end_date }}</li>
      <li>Target: {{ project.target_date }}</li>

      {% if project.key_work  %}
      <li>Key dates</li>
      <ul>
        {% for w in project.key_work %}
          <li>{{ w.key_date }}: {{ w.title }}</li>
        {% endfor %}
      </ul>
      {% endif  %}
    </ul>
{% endfor %}
</ul>

{# TODO: Only show this if there are projects completed in the past 30 days #}
<h1>Completed (past 30 days)</h1>
<ul>
    <li><a href='/projects/5'>Splash page</a></li>
    <ul>
        <li>Completed: Aug 17, 2012</li>
        <li>Target: Aug 1, 2012</li>
    </ul>
</ul>

{# TODO: Only show this if there are older projects  #}
<a href='/projects?older=true'>Older projects</a>

<p>
    <form action="/projects/reschedule" method='POST'>
        <button type="submit">Reschedule Projects!</button>
    </form>
</p>
