{% extends "layout/base.html" %}
{% block title %}Projects{% endblock %}

{%block content %}
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2 well">
            <div class="sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">List View</a></li>
                    <li><a href="#">Timeline View</a></li>
                </ul>
            </div><!--/.well -->

            <ul class="nav">
                <li><a class="btn" href="/projects/new">Add project</a></li>
                <li><a class="btn" href="/projects/edit">Rank projects</a></li>
            </ul>
        </div><!--/span-->
        <div class="span10">
            <h2>Active Projects</h2>
            <div class="">
                <ul>
                    {% for project in project_data %}
                    <li><a href={{ project.detail_url }}>{{ project.name }}</a></li>
                    <ul>
                        <li>Estimated: {{ project.est_end_date }}</li>
                        <li>Target: {{ project.target_date }}</li>

                        {% if project.key_work  %}
                        <li>Key dates</li>
                        <ul>
                            {% for w in project.key_work %}
                            <li>{{ w.date }}: {{ w.title }}</li>
                            {% endfor %}
                        </ul>
                        {% endif  %}
                    </ul>
                    {% endfor %}
                </ul>

                <p>
                <form action="/projects/reschedule" method='POST'>
                    <button class="btn btn-primary" type="submit">Reschedule Projects!</button>
                </form>
                </p>
            </div>

        </div><!--/span-->
    </div><!--/row-->
</div><!--/.fluid-container-->
{% endblock %}

