<!doctype html>

<title>Project: {{ project_data.name }}</title>

<h1>Project: {{ project_data.name }}</h1>

<h2>Stats</h2>
<ul>
    <li>Target date: {{ project_data.target_date }} </li>
    <li>Estimated date: {{ project_data.est_end_date }} </li>
    <li>Total effort: {{ project_data.total_effort }} </li>
</ul>

<h2>Work</h2>
<p>
<a href='/projects/{{ project_data.project_id }}/work/edit'>Edit</a>
<a href='/work/new?project={{ project_data.project_id }}'>Add work</a>
</p>

<table>
    {% for w in project_data.work %}
    <tr>
        {% if w.key_date %}
        <td>{{ w.key_date }}</td>
        {% else %}
        <td></td>
        {% endif %}

        <td>{{ w.title }}</td>
        <td><img width=25 src={{ w.assignee.picture }}>{{ w.assignee.name }}</td>
    </tr>
    {% endfor %}
</table>


<h2>Participants</h2>
<p>
<a href='/projects/{{ project_data.project_id }}/participants/new'>Add participant</a>
</p>

<ul>
    {% for p in project_data.participants %}
    <li>{{ p.name }}, {{ p.title }}, {{ p.team }}</li>
    {% endfor %}
</ul>
