{% extends "layout/base.html" %}
{% block title %}{{ project_data.name }}{% endblock %}

{%block content %}

<h2 class="span12">Project: {{ project_data.name }}</h2>
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2">
            <div class="well well-small sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">List View</a></li>
                    <li><a href="#">Timeline View</a></li>
                </ul>
            </div><!--/.well -->

            <ul class="nav">
                <li><a class="btn" href='/projects/{{ project_data.project_id }}/work/edit'>Edit project</a></li>
                <li><a class="btn" href='/work/new?project={{ project_data.project_id }}'>Add work item</a></li>
                <li><a class="btn" href='/projects/{{ project_data.project_id }}/participants/new'>Add participant</a></li>
            </ul>
        </div><!--/span-->
        <div class="span9">

<h2>Stats</h2>
<ul>
    <li>Target date: {{ project_data.target_date }} </li>
    <li>Estimated date: {{ project_data.est_end_date }} </li>
    <li>Total effort: {{ project_data.total_effort }} </li>
</ul>

<h2>Work</h2>
<table>
    {% for w in project_data.work %}
    <tr>
        {% if w.key_date %}
        <td>{{ w.key_date }}</td>
        {% else %}
        <td></td>
        {% endif %}

        <td>{{ w.title }}</td>
        <td><img width=25 src={{ w.assignee.picture }}>{{ w.assignee.name }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Participants</h2>
<ul>
    {% for p in project_data.participants %}
    <li>{{ p.name }}, {{ p.title }}, {{ p.team }}</li>
    {% endfor %}
</ul>

        </div><!--/span-->
    </div><!--/row-->
</div><!--/.fluid-container-->
{% endblock %}

