<!doctype html>

<title>Edit work for {{ project_data.name }}</title>

<h1>Edit work for {{ project_data.name }}</h1>

<form action="/projects/{{ project_data.project_id }}/work" method='POST'>
    <p>
    <textarea name='work' rows=25 cols=100>{{ project_data.work }}</textarea>
    </p>
    <input type="submit">
</form>

<h2>Participants</h2>
<ul>
    {% for p in project_data.participants %}
    <li>{{ p.get('name', '') }}, {{ p.get('title', '') }}, {{ p.get('team', '') }}</li>
    {% endfor %}
</ul>
