<!doctype html>

{% set project_id = project_details.get('project_id', '') %}
{% set name = project_details.get('name', '') %}
{% set stats = project_details.get('stats', {}) %}
{% set participants = project_details.get('participants', []) %}
{% set work = project_details.get('work', []) %}

<title>Project: {{ name }}</title>

<h1>Project: {{ name }}</h1>

<h2>Stats</h2>
<ul>
    <li>Target date: {{ stats.get('target_date', None)}} </li>
    <li>Estimated date: {{ stats.get('est_date', None)}} </li>
    <li>Total effort: {{ stats.get('total_effort', None)}} </li>
</ul>

<h2>Work</h2>
<p>
<a href='/project/{{ project_id }}/work/edit'>Edit</a>
<a href='/work/new?project={{ project_id }}'>Add work</a>
</p>

<table>
    {% for w in work %}
    {% set a = w.get('assignee', {}) %}
    {% set key_date =  w.get('key_date', False)%}
    <tr>
        {% if w.get('key_date', False) %}
        <td>{{ key_date }}</td>
        {% else %}
        <td></td>
        {% endif %}

        <td>{{ w.get('name', '') }}</td>
        <td><img width=25 src={{ a.get('picture', '') }}>{{ a.get('name', '') }}</td>
    </tr>
    {% endfor %}
</table>


<h2>Participants</h2>
<p>
<a href='/participants/new?project={{ project_id }}'>Add participant</a>
</p>

<ul>
    {% for p in participants %}
    <li>{{ p.get('name', '') }}, {{ p.get('title', '') }}, {{ p.get('team', '') }}</li>
    {% endfor %}
</ul>
