<!doctype html>
<title>Projects</title>

<h1>Current Projects</h1>

<p>
<a href='/projects/edit'>Rank projects</a>
<a href='/projects/new'>Add project</a>
</p>

<ul>
{% for project in projects %}
  <li><a href={{ project.get('detail_url', '') }}>{{ project.get('title', '') }}</a></li>
    <ul>
      <li>Estimated: {{ project.get('est_date', '') }}</li>
      <li>Target: {{ project.get('target_date', '') }}</li>
      <li>Key dates</li>
      <ul>
        {% for d in project.get('key_dates', []) %}
          <li>{{ d[1] }}: {{ d[0] }}</li>
        {% endfor %}
      </ul>
    </ul>
{% endfor %}
</ul>

{# TODO: Only show this if there are projects completed in the past 30 days #}
<h1>Completed (past 30 days)</h1>
<ul>
    <li><a href='/projects/5'>Splash page</a></li>
    <ul>
        <li>Completed: Aug 17, 2012</li>
        <li>Target: Aug 1, 2012</li>
    </ul>
</ul>

{# TODO: Only show this if there are older projects  #}
<a href='/projects?older=true'>Older projects</a>
